<tr>
  <td><input type="text" class="input-field" name="line_items[<%= index %>][name]" value="<%= line_item.name %>"/></td>
  <td><input type="text" class="input-field" name="line_items[<%= index %>][description]" value="<%= line_item.description %>"/></td>
  <td>
    <button class="items-center justify-center w-6 h-6 text-white bg-red-700 rounded-full fle hover:bg-red-800" data-remove-button>&#x2715;</button>
  </td>
</tr>