<%= form_with(model: ingredient, class: 'border rounded drop-shadow p-4 inline-block mx-auto') do |form| %>
  <div>
    <%= form.label :name, class: "input-label" %>
    <%= form.text_field :name, class: "input-field" %>
  </div>

  <div class="flex justify-center mt-4">
    <%= form.submit(nil, class: 'btn-primary') %>
  </div>
<% end %>
