<h1 class="text-lg font-bold text-center">Create New Ingredient</h1>

<% if @ingredient.errors.any? %>
  <%= render partial: 'shared/form_errors', locals: { errors: @ingredient.errors } %>
<% end %>

<div class="flex justify-center">
  <%= render "form", ingredient: @ingredient %>
</div>
