<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if page.current? %>
  <span class="block px-2 py-1 text-center border-2 border-blue-800 rounded w-7"><%= page %></span>
<% else %>
  <%= link_to page, url, {
      class: class_names('w-7 block border-2 rounded px-2 py-1 hover:border-blue-800 text-center')
    } %>
<% end %>
