<% grouped_items = batch.batch_line_items.includes(:ingredient).group_by {|l| l.ingredient.ingredient_type} %>

<table class="w-full text-sm">
  <thead>
    <tr>
      <th scope="col" class=""></th>
      <th scope="col" class="px-2 py-1 text-left">Ingredient</th>
      <th scope="col" class="px-2 py-1 text-left">Quantity</th>
      <th scope="col" class="px-2 py-1 text-right">Cost</th>
    </tr>
  </thead>
  <tbody class="divide-y">
    <% grouped_items.each do |group_name, items| %>
      <%= render partial: 'batch_item_table_group', locals: {group_name:, items:} %>
    <% end %>
    <tr>
      <td class="px-2 py-2 font-semibold text-right" colspan="3">Total Cost</td>
      <td class="px-2 py-2 text-right"><%= number_to_currency(@batch.total_cost) %></td>
    </tr> 
    <tr>
      <td class="px-2 py-2 font-semibold text-right" colspan="3">Cost Per Unit</td>
      <td class="px-2 py-2 text-right"><%= number_to_currency(@batch.cost_per_unit) %></td>
    </tr> 
  </tbody>
</table>