<div id="<%= dom_id batch %>">
  <p>
    <strong>Manufactured on:</strong>
    <%= batch.manufactured_on %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= batch.name %>
  </p>

  <p>
    <strong>Units produced:</strong>
    <%= batch.units_produced %>
  </p>

</div>
