<h1 class="text-lg font-bold text-center">Record New Batch</h1>

<% if @batch.errors.any? %>
  <%= render partial: 'shared/form_errors', locals: { errors: @batch.errors } %>
<% end %>

<div class="flex justify-center">
  <%= render "form", batch: @batch %>
</div>