@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'actiontext.css';

@layer components {
  .btn-primary {
    @apply px-4 py-2 text-white bg-blue-800 rounded shadow cursor-pointer hover:bg-blue-700;
  }
  .btn-secondary {
    @apply px-4 py-2 rounded shadow cursor-pointer bg-sky-300;
  }
  .btn-alert {
    @apply px-4 py-2 text-white bg-red-700 rounded shadow cursor-pointer;
  }
  .link {
    @apply text-sky-600;
  }
  .input-label {
    @apply block mb-2 text-sm font-bold text-gray-700;
  }
  .input-field {
    @apply w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none;
  }
}

.writing-sideways-lr {
  writing-mode: sideways-lr;
}

.select2-container.select2-container--default .select2-selection--single {
  @apply h-auto border-black rounded;
}

.select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
  @apply px-3 py-2 pr-5 leading-tight text-gray-700;
}

.select2-container.select2-container--default .select2-selection--single .select2-selection__arrow {
  @apply top-1/2 -mt-[13px];
}

.select2-container.select2-container--focus .select2-selection.select2-selection--single {
  @apply outline-none ring-1 ring-blue-600;
}

::backdrop {
  @apply backdrop-blur bg-slate-400/10;
}

.trix-content ol, .trix-content ul, trix-editor ul, trix-editor ol {
  @apply ml-4 list-inside;
}
.trix-content ol, trix-editor ol {
  @apply list-decimal;
}
.trix-content ul, trix-editor ul {
  @apply list-disc;
}
.trix-content li {
  @apply !ml-0;
}
