<% content_for :title, "Editing batch line item" %>

<h1>Editing batch line item</h1>

<%= render "form", batch_line_item: @batch_line_item %>

<br>

<div>
  <%= link_to "Show this batch line item", @batch_line_item %> |
  <%= link_to "Back to batch line items", batch_line_items_path %>
</div>
